@import '~@madeiramadeira/cavilha/cavilha'

.column
  background-color: $color-gray-two

  &--is-auto
    text-align: center

  &--is-tile
    &:first-child
      padding-left: $size-regular

    &:not(:first-child)
      text-align: center

  .column
    background-color: $color-gray-three
    text-align: center

.row
  .row
    background-color: $color-white
